@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Roboto&display=swap');
@import '../../../node_modules/material-design-icons/iconfont/material-icons.css';

* {
  font-family: 'Roboto', sans-serif;

  @mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
  }
  .element {
    @include clearfix;
  }
}

.container-componente{
  z-index: -1;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 5rem;
  padding: 1rem 1rem 1rem 6rem;
  width: 100vw;
  height: 100vw;
  background-color: #f0f0f0;
}

@media only screen and (max-width: 600px) {
  .container-componente{
    z-index: -1;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0 !important;
    width: 100vw;
    height: 90% !important;
    padding: 1rem !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
  }
}
