@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Roboto&display=swap');
@import '../../../node_modules/material-design-icons/iconfont/material-icons.css';

* {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;

  @mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
  }
  .element {
    @include clearfix;
  }
}

@media screen and (max-width: 640px) {

}

.container_componente{
  max-width: 1600px;
}
